# Feature Selection

### Data, libraries and plot settings

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import plotly.graph_objects as go

#setting the size of the plots and the dark background
sns.set(rc = {'figure.figsize':(15,8)})
#plt.style.use('dark_background')

# Lumos colors
colors = ["#AE3A54", "#DE6D83", "#F5BBC4", "#D8D8D8" , "#A6A6A6"]
colors2 = ["#7286B7", "#9BADE6", "#D9E2FD", "#7DBAEF", "#344F6A"]

#create one Lumos color array
my_colors = ["#AE3A54", "#DE6D83", "#F5BBC4", "#D8D8D8" , "#A6A6A6"
            ,"#7286B7", "#9BADE6", "#D9E2FD", "#7DBAEF", "#344F6A"]
  
# add color array to set_palette
# function of seaborn
sns.set_palette( my_colors )
                
#read in the data
data=pd.read_csv('math_class.csv', sep =";")

data.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,17.513924,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,11.622518,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,188.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [2]:
# print out the unique values of each column
for col in data.columns:
    print(f"{col} - {data[col].unique()}")

school - ['GP' 'MS']
sex - ['F' 'M' 'Man' 'fem' 'f']
age - [ 18  17  15  16  19  22 188  20 170  21]
address - ['U' 'R']
famsize - ['GT3' 'LE3']
Pstatus - ['A' 'T']
Medu - [4 1 3 2 0]
Fedu - [4 1 2 3 0]
Mjob - ['at_home' 'health' 'other' 'services' 'teacher']
Fjob - ['teacher' 'other' 'services' 'health' 'at_home']
reason - ['course' 'other' 'home' 'reputation']
guardian - ['mother' 'father' 'other']
traveltime - [2 1 3 4]
studytime - [2 3 1 4]
failures - [0 3 2 1]
schoolsup - ['yes' 'no']
famsup - ['no' 'yes']
paid - ['no' 'yes']
activities - ['no' 'yes']
nursery - ['yes' 'no']
higher - ['yes' 'no']
internet - ['no' 'yes']
romantic - ['no' 'yes' nan]
famrel - [4 5 3 1 2]
freetime - [3 2 4 1 5]
goout - [4 3 2 1 5]
Dalc - [1 2 5 3 4]
Walc - [1 3 2 4 5]
health - [3 5 1 2 4]
absences - [ 6  4 10  2  0 16 14  7  8 25 12 54 18 26 20 56 24 28  5 13 15 22  3 21
  1 75 30 19  9 11 38 40 23 17]
G1 - [ 5  7 15  6 12 16 14 10 13  8 11  9 17 19 18  4  3]
G2 - [ 6  5  8 14 10 15 12 18 16 13  9 11  7 19 17  4  0]
G3 - [ 6 10 15 11 19  9 12 14 16  5  8 17 18 13 20  7  0  4]

### Little data pre-processing

In [3]:
# replace impossible ages (170, 188):
data=data.replace([170,188],[17,18])

# replace variation of m, f: 
data=data.replace(['Man','fem','f'],['M','F','F'])

# fill NAs in romantic
data['romantic'].fillna('no',inplace=True)

In [4]:
data.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

#### looks good!

### Encoding of the data

In [5]:
# making a copy for preprocessing
data_dum=data

#### Uncomment for feature selection without G1, G2

In [6]:
data_dum.drop(['G1','G2'], axis=1, inplace=True)

In [7]:
data_dum.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,20.000000

In [8]:
#Converting to a binary value
categorical_b = {'yes': 1, 'no': 0}

categorica_school = {'MS':1,'GP':0}

data_dum['school'] = data_dum['school'].map(categorica_school)
data_dum['schoolsup'] = data_dum['schoolsup'].map(categorical_b)
data_dum['famsup'] = data_dum['famsup'].map(categorical_b)
data_dum['paid'] = data_dum['paid'].map(categorical_b)
data_dum['activities'] = data_dum['activities'].map(categorical_b)
data_dum['nursery'] = data_dum['nursery'].map(categorical_b)
data_dum['higher'] = data_dum['higher'].map(categorical_b)
data_dum['internet'] = data_dum['internet'].map(categorical_b)
data_dum['romantic'] = data_dum['romantic'].map(categorical_b)

categorical_sex = {'F': 1, 'M': 0}

data_dum['sex'] = data_dum['sex'].map(categorical_sex)

# print out the unique values of each column
for col in data_dum.columns:
    print(f"{col} - {data_dum[col].unique()}")

school - [0 1]
sex - [1 0]
age - [18 17 15 16 19 22 20 21]
address - ['U' 'R']
famsize - ['GT3' 'LE3']
Pstatus - ['A' 'T']
Medu - [4 1 3 2 0]
Fedu - [4 1 2 3 0]
Mjob - ['at_home' 'health' 'other' 'services' 'teacher']
Fjob - ['teacher' 'other' 'services' 'health' 'at_home']
reason - ['course' 'other' 'home' 'reputation']
guardian - ['mother' 'father' 'other']
traveltime - [2 1 3 4]
studytime - [2 3 1 4]
failures - [0 3 2 1]
schoolsup - [1 0]
famsup - [0 1]
paid - [0 1]
activities - [0 1]
nursery - [1 0]
higher - [1 0]
internet - [0 1]
romantic - [0 1]
famrel - [4 5 3 1 2]
freetime - [3 2 4 1 5]
goout - [4 3 2 1 5]
Dalc - [1 2 5 3 4]
Walc - [1 3 2 4 5]
health - [3 5 1 2 4]
absences - [ 6  4 10  2  0 16 14  7  8 25 12 54 18 26 20 56 24 28  5 13 15 22  3 21
  1 75 30 19  9 11 38 40 23 17]
G3 - [ 6 10 15 11 19  9 12 14 16  5  8 17 18 13 20  7  0  4]

In [9]:
## map the address data
categorical_b = {'U': 0, 'R': 1}
data_dum['address'] = data_dum['address'].map(categorical_b)

# map the family size data
categorical_b = {'LE3': 0, 'GT3': 1}
data_dum['famsize'] = data_dum['famsize'].map(categorical_b)

# map the parent's status
categorical_b= {'T': 0, 'A': 1}
data_dum['Pstatus'] = data_dum['Pstatus'].map(categorical_b)

# map the parent's job
categorical_m = {'teacher': 1, 'health': 2, 'services': 3,'at_home': 4,'other': 5}
data_dum['Mjob'] = data_dum['Mjob'].map(categorical_m)
data_dum['Fjob'] = data_dum['Fjob'].map(categorical_m)

# map the reason data
categorical_m= {'home': 1, 'reputation': 2, 'course': 3,'other': 4}
data_dum['reason'] = data_dum['reason'].map(categorical_m)

# map the guardian data
categorical_m = {'mother': 1, 'father': 2, 'other': 3}
data_dum['guardian'] = data_dum['guardian'].map(categorical_m)


# map the Mother's education data
categorical_m = {0: 1, 1: 2, 2: 3, 3: 4, 4: 5}
data_dum['Medu'] = data_dum['Medu'].map(categorical_m)


# Dummy code 5 factor categorical variables 
df_dummies = pd.get_dummies(data_dum, prefix=['Mjob', 'Fjob', 'reason', 'guardian'], prefix_sep='.', 
                            columns=['Mjob', 'Fjob', 'reason', 'guardian'])
# assign back to original dataframe
data_dum=df_dummies

########################################################
# Feature selection process for notebook with G1 and G2# 
########################################################

# print out the unique values of each column
for col in data_dum.columns:
    print(f"{col} - {data_dum[col].unique()}")

school - [0 1]
sex - [1 0]
age - [18 17 15 16 19 22 20 21]
address - [0 1]
famsize - [1 0]
Pstatus - [1 0]
Medu - [5 2 4 3 1]
Fedu - [4 1 2 3 0]
traveltime - [2 1 3 4]
studytime - [2 3 1 4]
failures - [0 3 2 1]
schoolsup - [1 0]
famsup - [0 1]
paid - [0 1]
activities - [0 1]
nursery - [1 0]
higher - [1 0]
internet - [0 1]
romantic - [0 1]
famrel - [4 5 3 1 2]
freetime - [3 2 4 1 5]
goout - [4 3 2 1 5]
Dalc - [1 2 5 3 4]
Walc - [1 3 2 4 5]
health - [3 5 1 2 4]
absences - [ 6  4 10  2  0 16 14  7  8 25 12 54 18 26 20 56 24 28  5 13 15 22  3 21
  1 75 30 19  9 11 38 40 23 17]
G3 - [ 6 10 15 11 19  9 12 14 16  5  8 17 18 13 20  7  0  4]
Mjob.1 - [0 1]
Mjob.2 - [0 1]
Mjob.3 - [0 1]
Mjob.4 - [1 0]
Mjob.5 - [0 1]
Fjob.1 - [1 0]
Fjob.2 - [0 1]
Fjob.3 - [0 1]
Fjob.4 - [0 1]
Fjob.5 - [0 1]
reason.1 - [0 1]
reason.2 - [0 1]
reason.3 - [1 0]
reason.4 - [0 1]
guardian.1 - [1 0]
guardian.2 - [0 1]
guardian.3 - [0 1]

#### Now lets throw a bunch of classical feature selection methods to see which features come on top

In [10]:
# separate the target variable
x=data_dum.drop("G3",axis=1)
y=data_dum['G3']

## Pearson Correlation
### filter-based method

We check the absolute value of the Pearsonâ€™s correlation between the target and numerical features in our dataset. We keep the top 12 features based on this criterion.

In [11]:
from sklearn import preprocessing

X=data_dum.drop('G3',axis=1)
y=data_dum['G3']
data = data_dum
num_feats=30

def cor_selector(X, y,num_feats):
    cor_list = []
    feature_name = X.columns.tolist()
    # calculate the correlation with y for each feature
    for i in X.columns.tolist():
        cor = np.corrcoef(X[i], y)[0, 1]
        cor_list.append(cor)
    # replace NaN with 0
    cor_list = [0 if np.isnan(i) else i for i in cor_list]
    # feature name
    cor_feature = X.iloc[:,np.argsort(np.abs(cor_list))[-12:]].columns.tolist()
    # feature selection? 0 for not select, 1 for select
    cor_support = [True if i in cor_feature else False for i in feature_name]
    return cor_support, cor_feature
cor_support, cor_feature = cor_selector(X, y,num_feats)
print(str(len(cor_feature)), 'selected features')

12 selected features

## Chi-Squared
### filter-based method

We calculate the chi-square metric between the target and the numerical variable and only select the variable with the maximum chi-squared values.

In [12]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.preprocessing import MinMaxScaler
X_norm = MinMaxScaler().fit_transform(X)
chi_selector = SelectKBest(chi2, k=12)
chi_selector.fit(X_norm, y)
chi_support = chi_selector.get_support()
chi_feature = X.loc[:,chi_support].columns.tolist()
print(str(len(chi_feature)), 'selected features')

12 selected features

## Recursive Feature Elimination
### wrapper-based method

In [13]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
rfe_selector = RFE(estimator=LogisticRegression(), n_features_to_select=12, step=10, verbose=5)
rfe_selector.fit(X_norm, y)
rfe_support = rfe_selector.get_support()
rfe_feature = X.loc[:,rfe_support].columns.tolist()
print(str(len(rfe_feature)), 'selected features')

Fitting estimator with 43 features.
Fitting estimator with 33 features.
Fitting estimator with 23 features.
Fitting estimator with 13 features.
12 selected features

C:\Users\Asus\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Asus\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Asus\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## Lasso: SelectFromModel
### Embedded method

In [14]:

from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LogisticRegression

embeded_lr_selector = SelectFromModel(LogisticRegression(), max_features=num_feats)
embeded_lr_selector.fit(X_norm, y)

embeded_lr_support = embeded_lr_selector.get_support()
embeded_lr_feature = X.loc[:,embeded_lr_support].columns.tolist()
print(str(len(embeded_lr_feature)), 'selected features')

16 selected features

C:\Users\Asus\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## Random Forest: SelectFromModel
### Embedded method

In [15]:

from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier

embeded_rf_selector = SelectFromModel(RandomForestClassifier(n_estimators=100), max_features=num_feats)
embeded_rf_selector.fit(X.to_numpy(), y)

embeded_rf_support = embeded_rf_selector.get_support()
embeded_rf_feature = X.loc[:,embeded_rf_support].columns.tolist()
print(str(len(embeded_rf_feature)), 'selected features')

14 selected features

## LightGBM: SelectFromModel
### Embedded method

In [16]:
!pip install lightgbm==3.3.2

Requirement already satisfied: lightgbm==3.3.2 in c:\users\asus\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: wheel in c:\users\asus\anaconda3\lib\site-packages (from lightgbm==3.3.2) (0.37.0)
Requirement already satisfied: scipy in c:\users\asus\anaconda3\lib\site-packages (from lightgbm==3.3.2) (1.7.1)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\asus\anaconda3\lib\site-packages (from lightgbm==3.3.2) (1.1.0)
Requirement already satisfied: numpy in c:\users\asus\anaconda3\lib\site-packages (from lightgbm==3.3.2) (1.20.3)
Requirement already satisfied: joblib>=1.0.0 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm==3.3.2) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm==3.3.2) (2.2.0)

WARNING: Ignoring invalid distribution -tatsmodels (c:\users\asus\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\asus\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\asus\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\asus\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\asus\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\asus\anaconda3\lib\site-packages)

In [17]:

from sklearn.feature_selection import SelectFromModel
from lightgbm import LGBMClassifier

lgbc=LGBMClassifier()

embeded_lgb_selector = SelectFromModel(lgbc, max_features=num_feats)
embeded_lgb_selector.fit(X.to_numpy(), y)

embeded_lgb_support = embeded_lgb_selector.get_support()
embeded_lgb_feature = X.loc[:,embeded_lgb_support].columns.tolist()
print(str(len(embeded_lgb_feature)), 'selected features')

12 selected features

## Lets combine all of them into a DataFrame and see which ones are on top

In [19]:
feature_name=X.columns
# put all selection together
feature_selection_df = pd.DataFrame({'Feature':feature_name, 'Pearson':cor_support, 'Chi-2':chi_support, 'RFE':rfe_support, 'Logi':embeded_lr_support,
                                    'RF':embeded_rf_support, 'L_GBM':embeded_lgb_support})
# count the selected times for each feature
feature_selection_df['Total'] = np.sum(feature_selection_df, axis=1)
# display the top 100
feature_selection_df = feature_selection_df.sort_values(['Total','Feature'] , ascending=False)
feature_selection_df.index = range(1, len(feature_selection_df)+1)
feature_selection_df.head(num_feats)

C:\Users\Asus\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:85: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return reduction(axis=axis, out=out, **passkwargs)

       Feature  Pearson  Chi-2    RFE   Logi     RF  L_GBM  Total
1     failures     True   True   True   True   True   True      6
2        goout     True  False   True   True   True   True      5
3         Medu     True  False   True   True   True   True      5
4     romantic     True   True   True   True  False  False      4
5     absences    False  False   True   True   True   True      4
6         Walc    False  False   True   True   True   True      4
7         Fedu     True  False  False   True   True   True      4
8   traveltime     True  False  False  False   True   True      3
9    schoolsup    False   True   True   True  False  False      3
10      health    False  False  False   True   True   True      3
11         age     True  False  False  False   True   True      3
12     address     True   True   True  False  False  False      3
13      Fjob.3    False   True   True   True  False  False      3
14      Fjob.1    False   True   True   True  False  False      3
15        Dalc    False  False   True   True   True  False      3
16   studytime    False  False  False  False   True   True      2
17         sex     True  False  False  False   True  False      2
18        paid    False   True  False   True  False  False      2
19      higher     True  False  False   True  False  False      2
20    freetime    False  False  False  False   True   True      2
21      famrel    False  False  False  False   True   True      2
22      Mjob.4     True   True  False  False  False  False      2
23      Mjob.3    False   True   True  False  False  False      2
24      Mjob.2     True   True  False  False  False  False      2
25    reason.4    False   True  False  False  False  False      1
26    reason.2    False   True  False  False  False  False      1
27     nursery    False  False  False   True  False  False      1
28    internet    False  False  False   True  False  False      1
29      school    False  False  False  False  False  False      0
30    reason.3    False  False  False  False  False  False      0

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=08bcbf6c-e76a-40c1-a615-75bc1527bd1a' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>